<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" media="all" href="/css/admin/main_style.css" />
</head>
<body>
	<div class="container">
		<div class="top" th:replace="admin/fragments/top :: top"> </div>
		<div class="left_bar" th:replace="admin/fragments/left_bar :: left_bar"></div>
		<div class="content"> 
		osiągnięcia
		</div>
		<div class="footer" th:replace="admin/fragments/footer :: footer"> </div>
	</div>
</body>
</html>