<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" media="all" href="/css/user/main_style.css" />
</head>
<body>
	<div class="container">
		<div class="top" th:replace="user/fragments/top :: top"> </div>
		<div class="left_bar" th:replace="user/fragments/left_bar :: left_bar"></div>
		<div class="content">
		<!-- ***************************************************************************** -->
		<form th:action="@{/user/searchpeople}" method="get" >
			<input type="text" name="search">
			<button type="submit"> Dodaj</button>
		</form>
		

		<table> 
			<tr th:each="l : ${inviteByPersonList}" >
				<td>
					<div class="person">
						<div class="photoa">
							<span th:text="${l.photo}"></span>
						</div>	
						<div class="info">
							<span th:text="${l.public_name}"></span>
						</div>
						<div>
							<a th:href="@{'/user/friends/acceptInv/' + ${l.user_id}}">Akceptuj</a>
							<a th:href="@{'/user/friends/rejectInv/' + ${l.user_id}}">Odrzuć</a>
						</div>
					</div>
				</td>
			
			</tr>
		</table>
		
		<table>
			<tr th:each="f : ${miniListFriends}">
				<td th:text="${f.photo}"></td>
				<td th:text="${f.public_name}"></td>
				<td>
					<a th:href="@{'/user/friends/deletetFriend/' + ${f.user_id}}">Usuń</a>
				</td>
			</tr>
		</table>
		<!-- ***************************************************************************** -->
		</div>
		<div class="footer" th:replace="user/fragments/footer :: footer"> </div>
	</div>
</body>
</html>