<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" media="all" href="/css/user/main_style.css" />
</head>
<body>
	<div class="container">
		<div class="top" th:replace="user/fragments/top :: top"> </div>
		<div class="left_bar" th:replace="user/fragments/left_bar :: left_bar"></div>
		<div class="content">
		<!-- ***************************************************************************** -->
		<table>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr th:each="s : ${seach_list}">
				<td th:text="${s.public_name}"></td>
				<td th:text="${s.photo}"></td>
				<td th:switch="${s.personStatus}" >
					<div th:case="'Unknown'">
						<form th:action="@{/user/friends/sendInv}" method="post">
							<input type="hidden" name="id" th:value="${s.user_id}">
							<button type="submit"> Dodaj</button>
						</form>
					</div>
					<div th:case="'Invited'">
					<a th:href="@{'/user/firiends/acceptInv/' + ${s.user_id}}">Przyjmij</a>
					<a th:href="@{'/user/firiends/rejectInv/' + ${s.user_id}}">Odrzuć</a>
					</div>
					<div th:case="'IsInvited'">
						<a th:href="@{'/user/friends/deletetInv/' + ${s.user_id}}">Cofnij zaproszenie</a>
					</div>
					<div th:case="'IsFriend'">
						<span>Znajomy</span>
					</div>
				</td>
			</tr>
		</table>
		<!-- ***************************************************************************** -->
		</div>
		<div class="footer" th:replace="user/fragments/footer :: footer"> </div>
	</div>
</body>
</html>