<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" media="all" href="/css/user/leftbar_style.css" />
<link rel="stylesheet" type="text/css" media="all" href="/css/user/main_style.css" />
</head>
<body>
<div class="left_bar" th:fragment="left_bar"> 
	<a href="admin/home.html" th:href="@{/admin/home}">Home</a><br>
	<a href="admin/newplace.html" th:href="@{/admin/newplace}">Nowe miejsce</a><br>
	<a href="admin/newplace.html" th:href="@{/admin/newplace}">Nowe miejsce</a><br>
</div>
</body>
</html>